<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h2>New shop requires info:</h2>
    <ul>
      <li><b>First name: </b><%= @formData["firstName"] %></li>
      <li><b>Last name: </b><%= @formData["lastName"] %></li>
      <li><b>Company name: </b><%= @formData["companyName"] %></li>
      <li><b>Email address: </b><%= @formData["emailAddress"] %></li>
      <li><b>Phone number: </b><%= @formData["phoneNumber"] %></li>
      <li><b>Social media URL:v</b><%= @formData["socialMediaUrl"] %></li>
      <li><b>Website URL: </b><%= @formData["websiteUrl"] %></li>
  </body>
</html>
