<!DOCTYPE html>
<html>
  <head>
   
    <% if ENV['ENABLE_GTM'] %>
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PVDWC2B');</script>
    <!-- End Google Tag Manager -->
    <% end %>

    <meta charset="UTF-8">
    <title>eShelf: Unique Home Decor products | Top artists and boutiques</title>
    <meta name="description" content="eShelf offers a curated selection of the finest home decor products from independent boutiques and artists. We hunt for the most innovative, trend-forward, stylish homeware products.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= get_recaptcha_v3_script() %>
    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <% if ENV['ENABLE_GTM'] %>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVDWC2B"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <!-- This is necessary to load stripe API for payments -->
    <script async src="https://js.stripe.com/v3/"></script>

    <div id='vue-root' v-cloak>
      <% if current_shop.present?%> 
        <% if controller_name == 'shop' %>
          <shop-ui>
            <%= yield %>
          </shop-ui>
        <% else %>
          <shop-header></shop-header>
          <%= yield %>
        <% end %>
      <% else %>
        <header-cmp class="z-index-3" :content="<%= @content.to_json %>"></header-cmp>
        <%= render partial: "partials/notices" %>
        <div class="position-relative">
          <%= yield %>
        </div>
      <% end %>
      <footer-cmp></footer-cmp>
    </div>
  </body>
  <%= render partial: "layouts/js_init" %>
</html>
